<h1>Products in Cart</h1>
<ul>
  <% cart.each do |product| %>
    <li><%= product %></li>
  <% end %>
</ul>

<h4>Add Product to Your Cart</h4>
<%= form_tag products_add_path do %>
  <label>Product Name:</label>
  <%= text_field_tag :'product' %>

  <%= submit_tag 'add to cart' %>
<% end %>